.section4{
    margin-top: 100px;
    .sec4_title{
        h2{
            text-align: center;
            font-size: 40px;
        }
        p{
            text-align: center;
            margin: 10px 0 10px 0px;
        }
        .sec4_item{
            text-align: center;
            input{
                padding: 10px 20px;
                border-radius: 50px;
                border: 1px solid #80808088;
                outline: none;
            }
            button{
                padding: 10px 30px;
                color:#2C9553;
                border: 1px solid #2C9553;
                border-radius: 50px;
                transition: .65s;
                background-color: white;
                margin: 20px 0px 10px 10px;
        }
            button:hover{
                background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
                color: white;
        }
        }
    }
}