.section3{
    margin-top: 100px;
    .sec3_title{
        .sec3_subtext{
            margin: 10px 0 50px 0px;
        }
        .col-4{
            .card{
                transition: .65s;
                cursor: pointer;
                img {
                    width: 200px;
                    margin-left: 30px;
                    padding: 15px; 
                }
            }
            .card:hover{
                box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(71, 68, 68, 0.432);
                transform: scale(1.1);
            }
        }
        button{
                padding: 10px 30px;
                color:#2C9553;
                border: 1px solid #2C9553;
                border-radius: 50px;
                transition: .65s;
                background-color: white;
                margin: 50px 0px 10px 500px;
        }
            button:hover{
                background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
                color: white;
        }
    }

    .sec3_title1{
        margin-top: 100px;
        h2{
            text-align: center;
            margin: 20px 0 50px 0px;
            font-size: 40px;
        }
        .sec3_item1{
            .col-6{
                .card{
                    transition: .65s;
                    border: white;
                    padding: 20px;
                    .card_inf{
                        display: flex;
                        align-items: center;
                        img{
                            width: 100px;
                            margin-right: 20px;
                        }
                    }
                    .sec3_subtext1{
                        padding-top: 30px;
                    }
                }
                .card:hover{
                    box-shadow: 3px 15px 35px rgba(120, 125, 173, 0.329);
                    transform: scale(1.1);
                }
            }
        }
    }
}